* {
margin: 0px;
padding: 0px;
}

h1 {
    font-size: 20px;
    font-family: sans-serif ;
    font-weight: bold ;
}
h2 {
    font-size: 40px;
    font-weight: bold; 
    font-family: sans ;
    background-color: rgb(200, 255, 0);
}
header,nav,article,footer,aside
 {
    display: block ;
    }
    body {
        text-align: center ;
    }
    .agrupar {
        margin: 15px 15px #ffffff ;
        padding: 40px;   
        background: #e5e6eb;



    }
    .header { 
        background:#F4eea9;
        
    }
    .thick-withe-border {
        border-color:rgb(163, 94, 4);
        border-width: 10px;
        border-style: solid;
        border-radius: 200px;
        
        
        
    }
    .menu {
        background: #FEFF72;
        padding: 15px 5px;
        text-align: left;
        display: block ;
        

    }
    .menu li {
        list-style: none ;
        font: bolder 14px verdana ;
        display: inline-block;
        text-align: left ;
        padding: 5px;
        
        
    }
    a {
        font-style: verdana;
        background-color: #ffffff;
    }
       
    
    .seccion {
        margin: 20px;
        width: 100%px;
        float: left;
        background-color:#e5e6eb;
        height: 100%;
    }
    article {
        background: #FFDC73;
        border: 1px solid #999 ;
        padding: 50px;
        margin-bottom: 15px;
    }
    article footer {
        text-align: right ;
        margin-top: 20px;
    }
    article h1 {
        color: #77aaff;
    }
    .menudos li {
        list-style: none;
        font: bold 14px verdana ;
        width: 50%;
        float: right;
        margin-top: 20px;
        display: block ;
        
    }
    .pie {
        clear: both;
        padding: 20px;
        background: #3366ff;
        color:#ffffff;
    }
    .videopizza {
        width:60%;
    }
    .fotopizza {
        width:60%;
    }
    .comiendo {
        align: center;
        margin-top: 20px;
        max-width: 100%;
        height: auto ;
    }